@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');


:root{
  --white:#f7f3f3;
  --black:black;

  --bg-color-1:#0b520b;
  --bg-color-2:#333333e6;
  --bg-color-3:#becf21;
  --bg-color-4:#0b213b80;
  --bg-color-5:#0b520b;

  --color-1:#7290be;
 --color-2:#cecece;
 --color-3:#f5f5f5;
 --color-4:#3333;

  --font-1: 'Caveat', cursive;
  --font-2:'Roboto', sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  padding: 30px;
  text-align: center;
  font-size: 40px;
  background-color: var(--bg-color-4);
  color: var(--white);
  width: 100%;
  text-transform: uppercase;

}


footer{
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  color: var(--white);
  background-color: var(--bg-color-4);
}



