/* ####### Form Components ##### */
form{
    color: var(--white);
    padding: 3rem;
    font-size: 15px;
}
  
  input,
  textarea, select {
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    width: 250px;
    font-family: var(--font-2);
    background-color: var(--color-3);
  }

  label {
    display: inline-block;
    width: 150px;
  }
  form div{
    margin: 1rem 0;
  }
  
  /* ####### input button ##### */
  form input[type="submit"]{
    background-color: var(--bg-color-4);
    color:var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-4);
    font-size: 20px;
    width: 250px;
    margin-left: 150px;
    text-transform: uppercase;
    
  }
  
 .submit input[type="submit"]:hover{
   background-color: var(--color-1);
  }
  
  .formArea{
    display: flex;
    background-color:var(--bg-color-4);
    margin-top: 10px;
  }
  

  