/* ####### Popup Component ############### */
/* ####### Button Popup ##### */




.overlay button{
    background-color: var(--bg-color-1);
    color:var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-4);
    padding: 1rem;
    width: 48%;
    font-size: 20px;
    margin-top: 2rem;
    text-transform: uppercase;
  }
  
  .popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay{
    background-color: var(--bg-color-3);
    color:var(--black);
    padding: 30px;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 5px var(--bg-color-2);
   position: relative;
    top:0;
    left:0;
    margin: 0 auto;
  
  }
  
  .overlay p, .overlay h1{
    padding: 1.5rem 0;
    font-size: 30px;
  }
  
  .overlay h1{
      text-align: center;
  }

  .overlay p span{
    margin: 50px;
    font-family: var(--font-1);
    font-size: 2.5rem;
  }
  
  .overlay .check{
    margin: 20px ;
    display:inline-block;
    text-align: center;
    width: 500px;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--black);
  }
  
  .check:hover{
    background-color: var(--bg-color-1);
    color:var(--white);
  }

