/* ####### View component ##### */
.view{
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  padding: 2rem;
}
  
  .notebook{ 
  background-color: var(--color-3);
  box-shadow: 0px 0px 5px var(--color-2);
  position: relative;
  margin: 1rem 0;
  
  }
  
  
  .notebook p{
    border-bottom: 1px dashed var(--color-2);
    padding: 20px;
    text-indent: 60px;
  }
  
  .notebook::before{
    content: "";
    width: 2px;
    height: 100%;
    border-left: 1px solid var(--color-1);
    border-right: 1px solid var(--color-1);
    position: absolute;
    left: 50px;
  }
  .notebook p span{
    margin: 50px;
    font-family: var(--font-1);
    font-size: 1.5rem;
  }
  
  
  